{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div id="choice_lang" class="container">
        <div class="row">
            <div class="col d-flex flex-column vh-100 justify-content-center align-items-center">
                <h1 class="mb-4">{{ choose_language }}</h1>
                <div class="btn-group" role="group" aria-label="choice_lang">
                    <a href="{% url 'home' %}" class="button">
                        <span>Language 1</span>
                    </a>
                    <a href="{% url 'home' %}" class="button">
                        <span>Language 2</span>
                    </a>
                    <a href="{% url 'home' %}" class="button">
                        <span>Language 3</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}