{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col d-flex vh-100 justify-content-center align-items-center">
                {% include 'main/messages.html' %}
                <form id="contacts_form" method="post" class="d-flex w-25 flex-column needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.email}}
                    </div>
                    <div class="mb-3">
                        {{ form.name }}
                    </div>
                    <div class="mb-3">
                        {{ form.phone_number }}
                    </div>
                    <div class="mb-3">
                        {{ form.object_name }}
                    </div>
                    <div class="mb-3">
                        {{ form.date }}
                    </div>
                    <a onclick="document.getElementById('contacts_form').submit()" class="button align-self-center">
                        <span>Send</span>
                    </a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'main/js/bootstrap_forms_validate.js' %}"></script>
{% endblock %}