{% extends 'main/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container pb-3">
        <div class="row mt-3">
            <div class="col d-flex justify-content-end align-items-center">
                <a href="{% url 'contacts' %}" class="button">
                    <span>Contacts</span>
                </a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="btn-group d-flex justify-content-center" role="group" aria-label="product_btn">
                    <a href="#" class="button">
                        <span>Product 1</span>
                    </a>
                    <a href="#" class="button">
                        <span>Product 2</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'main/img/gray.jpg' %}" class="d-block w-100">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'main/img/white.jpg' %}" class="d-block w-100">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'main/img/gray2.jpg' %}" class="d-block w-100">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-6 d-flex align-items-end flex-column">
                <div class="card">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam dignissimos expedita necessitatibus porro. Ab accusamus aliquam assumenda, autem commodi consequatur corporis eaque fugit id ipsum laboriosam maiores nostrum, numquam perferendis quis quod repellat repellendus sed soluta tenetur! Aspernatur doloribus illum sed. Architecto atque odio recusandae vero. Aliquid architecto autem beatae, cumque deserunt dolore error et, expedita id ipsa iure laborum magni maiores nemo nostrum officiis pariatur porro provident quae rem sed sunt, ullam unde ut vel voluptas voluptate voluptatum.
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam dignissimos expedita necessitatibus porro. Ab accusamus aliquam assumenda, autem commodi consequatur corporis eaque fugit id ipsum laboriosam maiores nostrum, numquam perferendis quis quod repellat repellendus sed soluta tenetur! Aspernatur doloribus illum sed. Architecto atque odio recusandae vero. Aliquid architecto autem beatae, cumque deserunt dolore error et, expedita id ipsa iure laborum magni maiores nemo nostrum officiis pariatur porro provident quae rem sed sunt, ullam unde ut vel voluptas voluptate voluptatum.
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex align-items-start flex-column">
                <div class="card">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam dignissimos expedita necessitatibus porro. Ab accusamus aliquam assumenda, autem commodi consequatur corporis eaque fugit id ipsum laboriosam maiores nostrum, numquam perferendis quis quod repellat repellendus sed soluta tenetur! Aspernatur doloribus illum sed. Architecto atque odio recusandae vero. Aliquid architecto autem beatae, cumque deserunt dolore error et, expedita id ipsa iure laborum magni maiores nemo nostrum officiis pariatur porro provident quae rem sed sunt, ullam unde ut vel voluptas voluptate voluptatum.
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam dignissimos expedita necessitatibus porro. Ab accusamus aliquam assumenda, autem commodi consequatur corporis eaque fugit id ipsum laboriosam maiores nostrum, numquam perferendis quis quod repellat repellendus sed soluta tenetur! Aspernatur doloribus illum sed. Architecto atque odio recusandae vero. Aliquid architecto autem beatae, cumque deserunt dolore error et, expedita id ipsa iure laborum magni maiores nemo nostrum officiis pariatur porro provident quae rem sed sunt, ullam unde ut vel voluptas voluptate voluptatum.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}